body {
    font-family: TimesNewRoman, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}
.container {
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Автоматическое выравнивание по центру */
    padding: 20px;
    background-color: #fff; /* Цвет фона контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень контейнера */
}


.image-container {
    text-align: center; /* Центрирование по горизонтали */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Центрирование по горизонтали */
    max-width: 200px; /* Пример: максимальная ширина изображения */
}

h1, h2, h3 {
    color: #000000;
}
h1 {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}
h2 {
    margin-top: 40px;
    color: #000000;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
strong {
    color: #000000;
}
em {
    color: #000000;
}
pre {
    background-color: 	#D3D3D3;
    padding: 10px;
    border-radius: 5px;
}